<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="images/fork and spon.png" type='image/x-icon'/>

<head>
    <title>Recipe Finder</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <script src="/js/home.js"  type="text/javascript"></script>

</head>

<body>
    <div class="tab">
        <button class="tablink fa fa-fw fa-home" onclick="openPage('Home', this, '#26a69a')" id="defaultOpen"> </button>
        <button class="tablink fa fa-fw fa-heart" onclick="openPage('Favorites', this, '#EF755F')"> </button>
        <button class="tablink fa fa-fw fa-star" onclick="openPage('Recommended', this, '#EDF06A')"> </button>
        <button class="tablink font" onclick="openPage('Top10',this, '#EDF06A')"> 10 </button>
        <button class="tablink fa fa-fw fa-user" onclick="openPage('User',this, '#EFB251')"></button>
    </div>
    <div id="Home" class="tabcontentM">
        <div class="butcontainer">
            <div class="centerH2">
                <h2>Recipe Finder</h2>
            </div>
        </div>

        <div class="row section scrollspy" id="search"
            style="margin-top:50px; padding-bottom:30px; border-top:2px solid #26a69a; border-bottom:2px solid #26a69a; padding-top:15px;">
            <h3> Search By </h3>
            <div class="tab">
                <button class="tablinks" onclick="openTab(Event,'Name')"> Name </button>
                <button class="tablinks" onclick="openTab(Event,'Ingredient')"> Ingredient </button>
                <button class="tablinks" onclick="openTab(Event,'Nutritional')"> Nutritional </button>
            </div>

            <div id="Name" class="tabcontent">
                <span onClick="this.parentElement.style.display='none'" class="topright">&times</span>
                <form action="searchByName" class="searchByName" method="POST">
                    <h4>Name</h4>
                    <div class="input-field col s6" style="width:50%">
                        <input type="text" name="contain" id="contain"
                               placeholder="Enter any recipe name (e.g. cake)">
                    </div>
                    <div class="input-group-btn input-group-append">
                        <div style="text-align: center">
                            <input role="button" class="btn btn-primary" style="margin-top: 45px;" type="submit">
                        </div>
                    </div>
                </form>
            </div>

            <div id="Ingredient" class="tabcontent">
                <span onClick="this.parentElement.style.display='none'" class="topright">&times</span>
                <form action="searchByIng" class="searchByIng" method="POST">
                    <h4>Ingredient</h4>
                    <div class="row">
                        <div class="input-field col s6" style="width:50%">
                            <label for="used">Used:</label>
                            <input type="text" name="used" id="used"
                                placeholder="Enter any ingredient's name (e.g. milk)">
                        </div>
                        <div class="input-field col s6" style="width:50%">
                            <label for="not-used">Not-Used:</label>
                            <input type="text" name="not-used" id="not-used"
                                placeholder="Enter any ingredient's name (e.g. Potato)">
                        </div>
                    </div>
                    <div class="input-group-btn input-group-append">
                        <div style="text-align: center">
                            <input role="button" class="btn btn-primary" style="margin-top: 45px;" type="submit">
                        </div>
                    </div>
                </form>
            </div>

            <div id="Nutritional" class="tabcontent">
                <span onClick="this.parentElement.style.display='none'" class="topright">&times</span>
                <form action="searchByNut" class="searchByNut" method="POST">
                    <h4>Nutritional Profile</h4>
                    <div class="row">
                        <div class="input-field col s6" style="width:50%">
                            <label for="val">Choose a nutritional value:</label>
                            <select name="nutritional" id="nutritional" onchange="openSlider()">
                                <option value="first" ></option>
                                <option value="calories" >Calories</option>
                                <option value="fat" > Fat</option>
                                <option value="sat-fat" >Sat-fat</option>
                                <option value="protein" >Protein</option>
                                <option value="fiber" >Fiber</option>
                                <option value="carbs" >Carbs</option>
                            </select>
                        </div>
                          <div class="input-field col s6" style="width:50%">
                                  <div id="contain sliders" class="sliders_container">
                                      <!-- save place div-->
                                      <div id="first" class="tabslider"> </div>
                                      <!-- calories slider-->
                                      <div id="calories" class="tabslider">
                                          <div id="calories" class="sliders_container">
                                              <div style="width: 16rem" class="sliders_container">
                                                  <div class="left calories"></div>
                                                  <div class="knob calories" id="knob_caloreis"></div>
                                                  <div class="right calories"></div>
                                                  <p> <span id="cal_val"></span></p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- fat slider-->
                                      <div id="fat" class="tabslider">
                                          <div id="fat" class="sliders_container">
                                              <div style="width: 16rem" class="sliders_container">
                                                  <div class="left fat"></div>
                                                  <div class="knob fat" id="knob_fat"></div>
                                                  <div class="right fat"></div>
                                                  <p> <span id="fat_val"></span></p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- fat sat slider-->
                                      <div id="sat-fat" class="tabslider">
                                          <div id="sat-fat" class="sliders_container">
                                              <div style="width: 16rem" class="sliders_container">
                                                  <div class="left calories"></div>
                                                  <div class="knob calories" id="knob_caloreis"></div>
                                                  <div class="right calories"></div>
                                                  <p> <span id="sat-fat_val"></span></p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- protein slider-->
                                      <div id="protein" class="tabslider">
                                          <div id="protein" class="sliders_container">
                                              <div style="width: 16rem" class="sliders_container">
                                                  <div class="left calories"></div>
                                                  <div class="knob calories" id="knob_caloreis"></div>
                                                  <div class="right calories"></div>
                                                  <p> <span id="protein_val"></span></p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- fiber slider-->
                                      <div id="fiber" class="tabslider">
                                          <div id="fiber" class="sliders_container">
                                              <div style="width: 16rem" class="sliders_container">
                                                  <div class="left calories"></div>
                                                  <div class="knob calories" id="knob_caloreis"></div>
                                                  <div class="right calories"></div>
                                                  <p> <span id="fiber_val"></span></p>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- crabs slider-->
                                      <div id="crabs" class="tabslider">
                                          <div id="crabs" class="sliders_container">
                                              <div style="width: 16rem" class="sliders_container">
                                                  <div class="left calories"></div>
                                                  <div class="knob calories" id="knob_caloreis"></div>
                                                  <div class="right calories"></div>
                                                  <p> <span id="crabs_val"></span></p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                          </div>
                    </div>
                    <div class="input-group-btn input-group-append">
                        <div style="text-align: center">
                            <input role="button" class="btn btn-primary" style="margin-top: 45px;" type="submit">
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="row section scrollspy" id="show Recipes"
            style="margin-top:50px; border-bottom:2px solid #26a69a; padding-top:15px;">
            <h3> Recipes </h3>
        </div>
    </div>


    <div id="Recommended" class="tabcontentM">
        <div class="butcontainer">
            <div class="centerH2">
                <h2>Recipe Finder</h2>
            </div>
        </div>
        <div class="row section scrollspy" id="rec1"
            style="margin-top:50px; padding-bottom:30px; border-top:2px solid #EDF06A; border-bottom:2px solid #EDF06A; padding-top:15px;">
            <h3>Recommended</h3>
            <p>there are some recommended recipes</p>
        </div>
    </div>

    <div id="Favorites" class="tabcontentM">
        <div class="butcontainer">
            <div class="centerH2">
                <h2>Recipe Finder</h2>
            </div>
        </div>
        <div class="row section scrollspy" id="fav1"
            style="margin-top:50px; padding-bottom:30px; border-top:2px solid #EF755F; border-bottom:2px solid #EF755F; padding-top:15px;">
            <h3>Favorites</h3>
            <p>there are your favorites recipes.</p>
        </div>
    </div>

    <div id="User" class="tabcontentM">
        <div class="butcontainer">
            <div class="centerH2">
                <h2>Recipe Finder</h2>
            </div>
        </div>

        <h3>User</h3>
                <div class="row">
                    <div class="input-field col s6" style="width:30%">
                        <label id="firstName">First name:</label>
                    </div>
                    <div class="input-field col s6" style="width:10%">
                        <button style="font-size:24px"><i class="fas fa-user-cog submit"></i></button>
                    </div>
                    <div class="input-field col s6" style="width:60%">
                        <!--input update-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6" style="width:30%">
                        <label id="lastName">Last name:</label>
                    </div>
                    <div class="input-field col s6" style="width:10%">
                        <button style="font-size:24px"><i class="fas fa-user-edit submit"></i></button>
                    </div>
                    <div class="input-field col s6" style="width:60%">
                        <!--input update-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6" style="width:30%">
                        <label id="email">Email address:</label>
                    </div>
                    <div class="input-field col s6" style="width:10%">
                        <button style="font-size:24px"><i class="fas fa-user-edit submit"></i></button>
                    </div>
                    <div class="input-field col s6" style="width:60%">
                        <!--input update-->
                    </div>
                </div>
    </div>

    <script>
            //open page tabs:
            function openPage(pageName, elmnt, color) {
                let i, tabcontentM, tablinks;
                tabcontentM = document.getElementsByClassName("tabcontentM");
                for (i = 0; i < tabcontentM.length; i++) {
                    tabcontentM[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }
                document.getElementById(pageName).style.display = "block";
                elmnt.style.backgroundColor = color;
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>
</body>

</html>