<!DOCTYPE html>
<html>
<link rel="icon" href="images/fork and spon.png" type='image/x-icon'/>

<head>
    <title>Recipe Finder</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/js/homepage.js"  type="text/javascript"></script>
</head>

<body>
    <div class="butcontainer">
        <h2></h2>
        <br> </br>
    </div>
    <div class="butcontainer">
        <h2></h2>
        <br> </br>
    </div>

    <div class="butcontainer">
        <div class="center">
            <h2>Recipe Finder</h2>
        </div>
    </div>
    <div class="butcontainer">
        <div class="center">
            <div class="row">
                <div class="col">
                    <form class="register" action="/register" method="get">
                        <button type="submit">Sign up</button>
                    </form>
                </div>
                <div class="col">
                    <form class="login" action="/login" method="get">
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>