<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="images/fork and spon.png" type='image/x-icon'/>

<head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/form.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="container">
        <div class="row mt-5">
            <div class="center">
                <h2>Log-In:</h2>
                <div>
                    <% if(errors != "") { %>
                        <% errors.forEach((item) => { %>
                            <div class="alert alert-danger">
                                <%- item %>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                               required>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row section scrollspy" id="show Recipes"
         style="margin-top:50px; border-bottom:2px solid #26a69a; padding-top:15px;">
        <h3> Recipes </h3>
        <form method="post" action="getRecipe">
            <div id="row">
                <div id="col s6" style="width: 50%">
                    <label for="recipeId">Enter your wanted id recipe:</label>
                    <input type="number" id="recipeId" name="recipeId" placeholder="Enter any recipe's id"
                           required>
                </div>
                <div id="col s6"  style="width: 50%">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="Recommended" class="tabcontentM">
    <div class="butcontainer">
        <div class="centerH2">
            <h2>Recipe Finder</h2>
        </div>
    </div>
    <div class="row section scrollspy" id="rec1"
         style="margin-top:50px; padding-bottom:30px; border-top:2px solid #EDF06A; border-bottom:2px solid #EDF06A; padding-top:15px;">
        <h3>Recommended</h3>
        <div class="row">
            <div class="col s6">
                <p>click on the star to see the most recommended recipes</p>
            </div>
            <div class="col s6">
                <a href="getRecommended" title="bt star" class="fa fa-star" target="result" style="font-size:30px"></a>
            </div>
            <div class="res">
                <p id="container" align="center"></p>
                <iframe name="result" id="result" onload="showTable()" style="visibility: hidden"></iframe>
            </div>
        </div>
    </div>
</div>

<div id="Favorites" class="tabcontentM">
    <div class="butcontainer">
        <div class="centerH2">
            <h2>Recipe Finder</h2>
        </div>
    </div>
    <div class="row section scrollspy" id="fav1"
         style="margin-top:50px; padding-bottom:30px; border-top:2px solid #EF755F; border-bottom:2px solid #EF755F; padding-top:15px;">
        <h3>Favorites</h3>
        <div class="row">
            <div class="col s6">
                <p>click on the heart to see your most favorites recipes</p>
            </div>
            <div class="col s6">
                <a href="getFavorites" title="bt heart" class="fa fa-heart" target="resultF" style="font-size:30px"></a>
            </div>
            <div class="resF">
                <p id="containerF" align="center"></p>
                <iframe name="resultF" id="resultF" onload="showTableF()" style="visibility: hidden"></iframe>
            </div>
        </div>

    </div>
</div>

<div id="Top10" class="tabcontentM">
    <div class="butcontainer">
        <div class="centerH2">
            <h2>Recipe Finder</h2>
        </div>
    </div>
    <div class="row section scrollspy" id="top101"
         style="margin-top:50px; padding-bottom:30px; border-top:2px solid #EF755F; border-bottom:2px solid #EF755F; padding-top:15px;">
        <h3>Top 10</h3>
        <form method="post" action="getTop10">
            <div class="row">
                <div class="input-field col s6" style="width:50%">
                    <label for="val">Choose a nutritional value:</label>
                    <select name="nutrition" id="nutrition">
                        <option value="first"></option>
                        <option value="calories">Calories</option>
                        <option value="fat"> Fat</option>
                        <option value="sat-fat">Sat-fat</option>
                        <option value="protein">Protein</option>
                        <option value="fiber">Fiber</option>
                        <option value="carbs">Carbs</option>
                    </select>
                </div>
                <div class="input-field col s6" style="width:50%">
                    <label class="switch">
                        <input type="checkbox" name="lowhigh" class="switch-input">
                        <span class="switch-label" data-on="highest" data-off="lowest"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
                <div class="input-group-btn input-group-append">
                    <div style="text-align: center">
                        <input role="button" class="btn btn-primary" style="margin-top: 45px;" type="submit">
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div id="User" class="tabcontentM">
    <div class="butcontainer">
        <div class="centerH2">
            <h2>Recipe Finder</h2>
        </div>
    </div>

    <h3>User</h3>
    <div class="true">
        <div class="row">
            <div class="col s6" style="width:30%">
                <label id="firstName">First name:<%= user.name %></label>
            </div>
            <div class="col s6" style="width:10%">
                <button class="btnS" onclick="openUpdateTab(Event,'fname')" style="font-size:16px"><i
                            class="fa fa-cog"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="tabUpdate" id="fname">
                <form action="updatefname" method="post">
                    <input type="text" name="fname" id="fname" style="width:30%" placeholder="first name">
                    <button class="btnS" type="submit" style="font-size:16px"><i class="fa fa-check"></i></button>
                </form>

                <hr>
                <div>
                    If you haven't had an account. <a href="/register">Create a new account</a>.
                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>
