<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="images/fork and spon.png" type='image/x-icon'/>

<head>
    <title>Recipe Finder</title>

    <link href="/css/recipePage.css" rel="stylesheet" type="text/css">
    <script src="/js/home.js" type="text/javascript"></script>
    <link herf="http://maxcdn.boot"
</head>

<br></br>

<div class="butcontainer">
    <div class="centerH2">
        <h2>Recipe Finder</h2>
        <br></br>

    </div>
</div>
<div class="row section scrollspy" id="search"
     style="margin-top: 70px;padding-bottom:30px;border-top:2px solid #26a69a;padding-top: 30px;">
<div class="centerH2">
    <div class="row">
        <div class="col s6">
            <h3> recipe name: </h3>
        </div>
        <div class="col s6">
            <div class="rate">
                <input type="radio" href="setRate" id="star5" name="rate" value="5"/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" href="setRate" id="star4" name="rate" value="4"/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" href="setRate" id="star3" name="rate" value="3"/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" href="setRate" id="star2" name="rate" value="2"/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" href="setRate" id="star1" name="rate" value="1"/>
                <label for="star1" title="text">1 star</label>
            </div>
        </div>
    </div>
</div>
    <br></br>
    <div class="row">
        <h4> Serving size & Serving: </h4>
        <p>

        </p>
    </div>

    <div class="row">
        <h4> Description: </h4>
        <p>

        </p>
    </div>
    <div class="row">
        <h4> Ingredient: </h4>
        <p>

        </p>
    </div>

    <div class="row">
        <h4> Steps: </h4>
        <p>

        </p>
    </div>

</div>
</html>
</body>